# Claves y configuraciones de EmailJS (Preserva tus claves reales de forma confidencial)
EMAILJS_SERVICE_ID=service_iwhulyi
EMAILJS_TEMPLATE_ID=template_wlejnde
EMAILJS_PUBLIC_KEY=L14V6L0j7yEspc91H
EMAILJS_PRIVATE_KEY=

# Dirección de correo que recibirá las alertas de actualización
RECIPIENT_EMAIL=qdoblea@gmail.com
